@model IEnumerable<productSystem.Models.Product>

@{
    ViewData["Title"] = "Index";
}

@if (ViewBag.HasSearchString != true)
{
    <p>
        <a asp-action="Create" class="btn btn-primary">新增產品</a>
    </p>
}

@using (Html.BeginForm("Index", "Products", FormMethod.Get))
{
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="searchString" placeholder="請輸入產品名稱" value="@ViewBag.CurrentFilter">
    </div>  
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-info">編輯</a>
                    <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-success">內容</a>
                    <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-danger">刪除</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.HasSearchString == true)
{
    <div class="form-group">
        <a class="btn btn-secondary" href="@Url.Action("Index", "Products")">返回</a>
    </div>
}

<style>
    .btn {
        display: inline-block;
        margin-right: 10px;
    }
</style>
